<template name="login">
    <div class="jumbotron">
        <form>
            <div class="form-group">
                <label for="email">Votre adresse email : </label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input id="email" type="email" class="form-control" placeholder="adressemail@gmail.com">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="exampleInputPassword1">Votre mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe...">
            </div>
            <button id="login" type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
</template>